@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-green-400 {
  filter: invert(81%) sepia(27%) saturate(947%) hue-rotate(81deg) brightness(89%) contrast(95%);
}
.filter-primary {
  filter: invert(78%) sepia(49%) saturate(638%) hue-rotate(114deg) brightness(97%) contrast(87%);
}
.double-gradient {
  background-image: linear-gradient(to top, #a5f3fc70 10%, #11182770), linear-gradient(to top left, #a5f3fc30 50%, #11182790);
  opacity: .8;
}