@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-green-400 {
  filter: invert(81%) sepia(27%) saturate(947%) hue-rotate(81deg) brightness(89%) contrast(95%);
}
.filter-primary {
  filter: invert(78%) sepia(49%) saturate(638%) hue-rotate(114deg) brightness(97%) contrast(87%);
}
.summary-gradient {
  background-image: radial-gradient(circle farthest-corner at 0% 50%, #141719, #fff0),
    radial-gradient(circle farthest-corner at 100% 100%, #044c46, #ffffff50),
    radial-gradient(circle farthest-side at 50% 0%, #03332f, #ffffff45)
}